<%- include ('partials/header.ejs');%>

<%- include ('partials/homeNavbar.ejs');%>

<body>
     <div class="container">
          <br>

          <% result.articles.rows.forEach(article => { %>
               <div class="card">
                    <div class="card-header">
                         <h2><%= article.title %></h2>
                    </div>
                    <div class="card-body">
                         <a href="/<%= article.slug %>" class="btn btn-success">Read article</a>
                    </div>
               </div>
               <br>
          <%})%>

          <div class="row">

               <div class="col col-12">

                    <% if(result.page >2 ){ %>
                         <a style="float: left;" href="/articles/page/<%= result.page - 1 %>">PREVIOUS</a>
                    <% } else if(result.page == 2) { %>
                         <a style="float: left;" href="/">PREVIOUS</a>
                    <% } %>

                    <% if(result.next) {%>
               <a style="float: right;" href="/articles/page/<%= result.page + 1 %>">NEXT</a>

                    <% } %>

               </div>
               
          </div>

          <hr>
     </div>
</body>

<%- include ('partials/footer.ejs');%>